@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Dela+Gothic+One&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  font-family: "Lato", sans-serif;
}
.head {
  width: 90%;
  height: 36px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.head span {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #686868;
}
.eye {
  width: 250px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.eye svg {
  width: 17px;
  height: 17px;
}
.eye span {
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  color: #686868;
}
.numbers {
  width: 371px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.numbers span:nth-child(1) {
  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
  color: #000000;
}
.numbers button {
  width: 174px;
  height: 36px;
  background-color: #279a59;
  border-radius: 30px;
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #ffffff;
}
.doctor {
  width: 90%;
  height: 38px;
  margin: auto;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.doctor img {
  width: 128px;
  height: 38px;
}
.sslki {
  width: 848px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sslki a {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #0d233b;
  text-decoration: none;
}
.pages {
  width: 102px;
  height: 14px;
  margin-left: 5%;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pages a {
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: #0d233b;
  text-decoration: none;
}
.pages svg {
  width: 10px;
  height: 10px;
}
.analiz {
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  color: #0d233b;
  text-decoration: none;
}
p {
  width: 90%;
  margin: auto;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 40px;
  line-height: 140%;
  color: #0d233b;
}
