@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Dela+Gothic+One&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  font-family: "Lato", sans-serif;
}
.head {
  width: 90%;
  height: 36px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.head span {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #686868;
}
.eye {
  width: 250px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.eye svg {
  width: 17px;
  height: 17px;
}
.eye span {
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  color: #686868;
}
.numbers {
  width: 371px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.numbers span:nth-child(1) {
  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
  color: #000000;
}
.numbers button {
  width: 174px;
  height: 36px;
  background-color: #279a59;
  border-radius: 30px;
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #ffffff;
}
.doctor {
  width: 90%;
  height: 38px;
  margin: auto;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.doctor img {
  width: 128px;
  height: 38px;
}
.sslki {
  width: 848px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sslki a {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #0d233b;
  text-decoration: none;
}
.pages {
  width: 102px;
  height: 14px;
  margin-left: 5%;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pages a {
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: #0d233b;
  text-decoration: none;
}
.pages svg {
  width: 10px;
  height: 10px;
}
.analiz {
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  color: #0d233b;
  text-decoration: none;
}
p {
  width: 90%;
  margin: auto;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 40px;
  line-height: 140%;
  color: #0d233b;
}
.skidki {
  width: 90%;
  height: 373px;
  margin: auto;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.skidka {
  width: 46%;
  height: 373px;
  display: flex;
  border-radius: 5px;
  align-items: center;
  justify-content: space-around;
  background-color: #3bb96d;
}
.text {
  width: 330px;
  height: 319px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}
.text p {
  margin-bottom: 20px;
}
.text p:nth-child(1) {
  font-weight: 700;
  font-size: 30px;
  color: #ffffff;
}
.text p:nth-child(2) {
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  line-height: 140%;
  text-align: justify;
}
.text p:nth-child(3) {
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  line-height: 140%;
}
.text button {
  width: 151px;
  height: 38px;
  border: none;
  margin-left: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  background-color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
  color: #3bb96d;
}
.text button svg {
  width: 16px;
  height: 16px;
}
.img {
  width: 190px;
  height: 373px;
  position: relative;
}
.skidka img {
  width: 232px;
  position: absolute;
  top: 150px;
  right: 50px;
}
.two {
  background-color: #27c8da;
}
.information {
  width: 90%;
  height: 258px;
  margin: auto;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.informat {
  width: 30%;
  height: 182px;
  padding: 38px 0px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #ccc;
  background-color: #ffffff;
}
.informat svg {
  width: 31px;
  height: 31px;
  color: #ffffff;
  padding: 20px;
  margin-left: 22px;
  border-radius: 50%;
  background-color: #3bb96d;
}
.informat p {
  width: 286px;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #434343;
  padding: 20px 22px 0px;
}
.second {
  height: 336px;
}
.third {
  width: 24%;
  height: 260px;
}
.third img {
  width: 44px;
  height: 44px;
  margin-left: 22px;
}
.third p {
  width: 185px;
  font-weight: 700;
  font-size: 22px;
  line-height: 140%;
  color: #3bb96d;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 10px;
  margin: 0;
  margin-left: 30px;
  border-bottom: 2px solid #279a59;
}
.third ul {
  list-style: none;
  padding-left: 30px;
}
.third ul li {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #0d233b;
  margin-bottom: 10px;
}
